.hover {
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover {
        transform: translateX(var(--static-space-8));

        .indicator {
            transform: rotate(0);
        }
    }
}

.indicator {
    transform: rotate(-90deg);
    left: -2rem;
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
}

.landingImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160vh;
  z-index: 5000;
  overflow:hidden;
}


.coverImage2 {
  width: 35%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  // top: 50vh;
  right: 0px;
  // transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  will-change: transform;
  z-index: 900;
}
.coverImage {
  width: 35%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  // top: 50vh;
  right: 0px;
  // transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  will-change: transform;
  z-index: 900;
}

.landingNameContainer{
  font-family: var(--font-family-landing);
  font-size: 12.9rem;
  z-index:1150;
}

.pressuretext{
  position:absolute;
  top:34%;
  left:29%;
  // font-family: var(--font-family-landing);
  // font-size: 12.9rem;
  z-index:55;
}

.aboutemebuutton{
  position:absolute;
  top:25%;
  left:29%;
  font-family: var(--font-family-landing);
  z-index: 6000;
  color: var(--neutral-on-background-medium);
  z-index: 8000;
}

.overlayImage {
  position: absolute;
  //   top: 70px;
  left: 50%;
  // width: 500px;
  // height: 400px;
  width: 100vw;
  top: 50%;
  transform: translate(-50%, -50%) scale(50);// initial scale
  opacity: 0; // hidden initially
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  will-change: transform, opacity;
  z-index: 5000;
}

.overlayText {
  position: absolute;
  width: 100vw;
//   top: 70px;
  left: -0.15%;
  // width: 500px;
  // height: 400px;
  top: 50%;
  // transform: translate(-50%, -50%) scale(50);// initial scale
  opacity: 0; // hidden initially
  transition: transform 0.1s, opacity 0.1s;
  will-change: transform, opacity;
  z-index: 1600;
}

// .coverImage {
//   width: 100%;
//   height: 100vh;
//   object-fit: cover;
//    position: absolute;
//   top: 50vh;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transform-origin: center;
//   transition: transform 0.4s ease-out, opacity 0.4s ease-out;
//   will-change: transform;
//   z-index: 900;
// }