.hover {
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover {
        transform: translateX(var(--static-space-8));

        .indicator {
            transform: rotate(0);
        }
    }
}

.indicator {
    transform: rotate(-90deg);
    left: -2rem;
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
}

.landingImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160vh;
  z-index: 5000;
  overflow:hidden;
}



.coverImage {
  width: auto;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  // top: 50vh;
  right: 0px;
  // transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  will-change: transform;
  z-index: 900;

  /* Mobile styles */
  @media (max-width: 480px) {
    width: 100%;
    height: 100vh;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  /* Small mobile devices */
  @media (max-width: 360px) {
    height: 90vh;
  }
}

.landingNameContainer{
  font-family: var(--font-family-landing);
  font-size: 12.9rem;
  z-index:1150;

  /* Medium mobile devices */
  @media (max-width: 480px) {
    font-size: 4rem;
  }
}

.landingNameText {
  margin-left: 8vw;
  margin-top: 26vh;


  @media (max-width: 480px) {
    margin-left: 8vw;
    margin-top: 6vh;
  }
}

.pressuretext{
  position:absolute;
  top:34%;
  left:29%;
  // font-family: var(--font-family-landing);
  // font-size: 12.9rem;
  z-index:55;

  @media (max-width: 480px) {
    top:9%;
    left:15%;
  }
}

.aboutemebuutton{
  position:absolute;
  top:25%;
  left:29%;
  font-family: var(--font-family-landing);
  z-index: 6000;
  color: var(--neutral-on-background-medium);
  z-index: 8000;
  
  @media (max-width: 480px) {
    top:24%;
    left:52%;
    color: var(--accent-background-medium);
  }
}

.overlayImage {
  position: absolute;
  //   top: 70px;
  left: 50%;
  // width: 500px;
  // height: 400px;
  width: 100vw;
  height:auto;
  top: 50%;
  transform: translate(-50%, -50%) scale(50);// initial scale
  opacity: 0; // hidden initially
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  will-change: transform, opacity;
  z-index: 5000;
}

.overlayText {
  position: absolute;
  width: 100vw;
    height:auto;

//   top: 70px;
  left: -0.15%;
  // width: 500px;
  // height: 400px;
  top: 50%;
  // transform: translate(-50%, -50%) scale(50);// initial scale
  opacity: 0; // hidden initially
  transition: transform 0.1s, opacity 0.1s;
  will-change: transform, opacity;
  z-index: 1600;
}

.downArrowContainer {
  position: absolute;
  top: 97vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.downArrow {
  width: 34px;
  height: 14px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  animation: heartbeat 1s infinite ease-in-out;
}

.downArrow:hover {
  opacity: 1;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
    fill: hsl(0, 100%, 30%); /* Dark red */
    filter: brightness(0.8);
  }
  50% {
    transform: scale(1.2);
    fill: hsl(0, 100%, 70%); /* Light red */
    filter: brightness(1.2);
  }
}

// .coverImage {
//   width: 100%;
//   height: 100vh;
//   object-fit: cover;
//    position: absolute;
//   top: 50vh;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transform-origin: center;
//   transition: transform 0.4s ease-out, opacity 0.4s ease-out;
//   will-change: transform;
//   z-index: 900;
// }